*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: @gray-two;
  font-style: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
